<!DOCTYPE html>
<html>
<head>
    <title>Test Angular Routing</title>
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
    <link href="/public/stylesheets/Test-Angular-Routing/testangularroute.css" rel="stylesheet" />

    <!-- Include the core AngularJS library -->
    #{script 'angular.min.js' /}

    <!-- Include the AngularJS routing library -->
    <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>
</head>
<body ng-app="GalleryApp">

<div class="header">
    <div ng-view></div>
    <div class="container">
        <a href="/#/">
            <img src="/public/images/resume_prof_pic.ico" width="80" height="80"> &#12501; &#65387; &#12488; &#12501; &#65387; &#12488;
        </a>
    </div>
</div>



<!-- Modules -->
<script src="/public/javascripts/TestAngularRouting/js/app.js"></script>

<!-- Controllers -->
<script src="/public/javascripts/TestAngularRouting/js/controllers/HomeController.js"></script>
<script src="/public/javascripts/TestAngularRouting/js/controllers/PhotoController.js"></script>

<!-- Services -->
<script src="/public/javascripts/TestAngularRouting/js/services/photos.js"></script>

</body>
</html>
