body{
    margin: 0 0 0 0;
    font-family:Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #fff;
}
a:link,
a:visited{
    text-decoration: inherit;
    color: inherit;
}
a.articleLink:link,
a.articleLink:visited{
    text-decoration: inherit;
    color:#00F;
}
a.articleLink:hover{
    text-decoration: underline;
}
.clear{
    clear: both;
}
#top1{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 3px 0px;
    color: #fff;
    text-align: center;
    background: #2D1152;
    font-size: 14px;
    font-family: arial;
}
#top2{
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: #400090;
}
#top2inner{
    width: 1040px;
    height: auto;
    margin: 0 auto;
    padding: 5px 0px;
    text-align: left;
    color: #fff;
    font-family: 'Roboto';
    font-size: 22px;
}
#top3{
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
}
#top3inner{
    width: 1040px;
    height: 50px;
    margin: 0 auto;
    padding: 20px 0px 15px 0px;
}
#top4{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
#top4inner{
    width: 1040px;
    height: auto;
    margin: 0 auto;
    padding: 15px 0px;
    color: #555;
    font-size: 14px;
}
#mainContainer{
    width: 1040px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 30px;
}
#articleContent{
    width: 700px;
    height: auto;
    float: left;
    padding-bottom: 25px;
}
#articleHeader{
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 15px;
}
#articleDate{
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Roboto';
    padding-bottom: 15px;
    color: #999;
}
.articleImg{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 10px;
}
.imgSubheader{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}
.articleSubheader{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    line-height: 27px;
}
.articleText{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
}
.articleButton{
    width: calc(100% - 20px);
    height: auto;
    margin: 0 auto;
    padding: 10px;
    color: #fff;
    font-family: 'Roboto';
    font-size: 30px;
    text-align: center;
    background: #63d021;
}
.articleButton:hover{
    background: #49a511;
}
#sidebar{
    width: 300px;
    height: auto;
    float: right;
}
.sidebarBanner{
    width: 300px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
}
#footer{
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top:100px;
    background: #344a5f;
}
#footerInner{
    width: 1040px;
    height: auto;
    margin: 0 auto;
    padding: 25px 0px;
    text-align: left;
    color: #fff;
    font-family: 'Roboto';
    font-size: 14px;
    text-align: center;
}
#map {
    width: 700px;
    height: 405px
}


@media screen and (max-width: 1040px) {
    #top1{
    font-size: 11px;
    }
    #top2inner{
    width: 95%;
    }
    #top3inner{
    width: 95%;
    height: 30px;
    margin: 0 auto;
    padding: 15px 0px 10px 0px;
    }
    #top4inner{
    width: 95%;
    }
    #mainContainer{
    width: 95%;
    }
    #articleContent{
    width: calc(100% - 270px);
    }
    .articleImg{
    padding-bottom: 15px;
    }
    .imgSubheader{
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 27px;
    }
    .articleSubheader{
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 27px;
    }
    .articleText{
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 24px;
    }
    .articleButton{
    font-size: 27px;
    }
    #footerInner{
    width: 95%;
    font-size: 12px;
    padding: 20px 0px;
    }
}

@media screen and (max-width: 900px) {
    #articleContent{
    float: none;
    margin: 0 auto;
    width: 100%;
    }
    #sidebar{
    float: none;
    margin: 0 auto;
    width: 100%;
    }
    .imgSubheader{
    padding-bottom: 12px;
    font-size: 18px;
    line-height: 24px;
    }
    .articleSubheader{
    padding-bottom: 12px;
    font-size: 18px;
    line-height: 24px;
    }
    .articleText{
    padding-bottom: 12px;
    font-size: 14px;
    line-height: 20px;
    }
    .articleButton{
    font-size: 24px;
    }
    #footerInner{
    width: 95%;
    font-size: 11px;
    padding: 15px 0px;
    }
    .sidebarBanner{
    display: none;
    }
    #map {
    transform: scale(0.8);
    margin-left: -80px;
    }
}