#{extends 'main.html' /}
#{set title:'Home' /}

<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/index.css'}">
<div id="page">
    <div id="header">
        <div class="wrap group">

        </div> <!-- .wrap < header -->
    </div> <!-- closing of header -->

    <!--<aside id="js-sidebar" class="sidebar">-->
        <!--<img src="http://stas-melnikov.ru/cliparts/strict_avatar.jpg" class="mobile-avatar" alt="avatar of Bernard Balfour">-->
            <!--<div class="avatar"></div>-->
            <!--<div class="welcome">-->
                <!--<h1 class="welcome__msg">I'am Bernard Balfour-->
                    <!--<span class="welcome__label">Front-end developer from Denmark</span>-->
                <!--</h1>-->
            <!--</div>-->
    <!--</aside>-->


    <div id="main-content">


    </div>

</div>

