<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
    <script src="/public/javascripts/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="/public/javascripts/js/jquery.min.js"></script>
    <script src="/public/javascripts/js/date.js"></script>
    <script src="/public/javascripts/js/jquery-ui.min.js"></script>
    <script src="/public/javascripts/js/angular.min.js"></script>
    <script src="/public/javascripts/js/raphael.js"></script>
    <script src="/public/javascripts/js/jquery.usmap.js"></script>
    <title>Celebrities Are Wearing Invisible Body Shapewear</title>

    <meta property="fb:app_id" content="119011452022600"/>
    <meta property="og:url" content="http://hitnewstoday.com/shaper/lp/shaper1.php" />
    <meta property="og:title" content="Invisible Body Shaper" />
    <meta property="og:type" content="Website" />
    <meta property="og:description" content="Invisible Body Shaper" />
    <meta property="og:image" content="../images/hitnewstoday_logo.png" />

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="/public/stylesheets/LandingPageTest/test_landingPage.css" rel="stylesheet">
    #{get 'moreScripts' /}
    <script type="text/javascript">
        $(document).ready(function() {
          $("#map").usmap({
            stateStyles: {fill: '#eeac82', stroke: '#FFFFFF'},
            stateHoverStyles: {fill: '#ea7c35'},
            showLabels: true,
            // The click action
            click: function(event, data) {
              window.location.href ="https://safewebclicks.com/secure/path/out.php?sxid=0&region=&";
            }
          });


            var mydate = new Date();
            var year = mydate.getYear();
            if (year < 1000){
                year += 1900;
            }
            var day = mydate.getDay();
            var month = mydate.getMonth();
            var daym = mydate.getDate();
            if (daym < 10){
                daym = "0" + daym;
            }
            var dayarray = new Array("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")
            var montharray = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December")
            var newdate = dayarray[day] + ", " + montharray[month] + " " + daym + ", " + year;
            $('.current-date').text( newdate );


            var myYesterday = new Date();
            myYesterday.setDate(myYesterday.getDate() - 1);

            var dayTitle = myYesterday.getDay();
            var monthTitle = myYesterday.getMonth();
            var daymTitle = myYesterday.getDate();
            var yearTitle = myYesterday.getYear();
            if (yearTitle < 1000){
                yearTitle += 1900;
            }
            if(daymTitle < 10 && daymTitle > 0){
                daymTitle = "0" + daymTitle;
            }
            var newdate2 = dayarray[dayTitle] + ", " + montharray[monthTitle] + " " + daymTitle + ", " + yearTitle;
            $('.current-date-minus').text( newdate2 );
        });

    </script>

</head>

<body>

<!--Facebook App Script-->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '119011452022600',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '276247562796099');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=276247562796099&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85987604-10', 'auto'); // body shaper
  ga('require', 'linkid', 'linkid.js');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>

<!--Header Sections-->
<div id="top1">
    Advertorial
</div>
<div id="top2">
    <div id="top2inner">
        HITNEWS<b>TODAY</b>
    </div>
</div>
<div id="top3">
    <div id="top3inner">
        <img src="../public/images/hitnewstoday_logo.png" height="100%" />
    </div>
</div>
<div id="top4">
    <div id="top4inner">
        Home > Trending > Clothing >
    </div>
</div>

<!--Main Block-->
<div id="mainContainer">
    <!--Article Content-->
    <div id="articleContent">
        <div id="articleHeader">
            Celebs' Sexy Little Secret They Don't Want You To Know</div>
        <div id="articleDate">
            <span class="current-date-minus"></span> | By Emily Reyes
        </div>
        <div class="articleImg">
            <center><img src="/public/images/hitnewstoday_main.jpg" width="100%" /></center>
        </div>
        <div class="imgSubheader">Hollywood fashion designer revealed almost every female celeb is wearing invisible body shapers</div>
        <div class="articleText">
            Have you noticed how incredibly smooth celebrities always look at red carpet events? You never see a single muffin top, tummy pooch or back fat issue on anyone! Granted many of these red carpet ladies spend plenty of time with personal trainers at the gym, we know that's not the only reason.
            <p><strong>So what is Hollywood's sexy little secret?  Shapwear of course!</strong></p>
            <div>
                <img src="/public/images/hitnewstoday_feature1.jpg" height="150" style="float:left; margin-right:15px;">
                <p>Tyra Banks talked about shapewear many times on the Tyra Banks Show  She says, “Every celebrity walking down the red carpet. You think she’s all just naturally like ’shooop.’ A lot of them have shapers on." She said many times that <strong>she her self loves and wears shapewear</strong>.</p>
                <p>So if Tyra, ex supermodel/Victoria Secret model wears shapewear everyone must be wearing it!</p>
            </div>
            <div style="clear:both;"></div>
        </div>

        <div class="articleText">
            <div>
                <img src="/public/images/hitnewstoday_feature2.jpg" height="150" style="float:right; margin-left:15px;">
                <p>While we all know that Kim Kardashian has a natural hourglass shape, she has admitted to wearing shapewear to help perfect her already enviable body. According to Kim, invisible body shaper is her best friend.</p>
                <p>"Sometimes I wear two pairs of body shapers on top of each other—especially when I am heavier, I def double it up." Said from her blog <strong>"They really hold you in and make you feel secure!"</strong>. Kim Kardashian is often photographed wearing shapewear bottoms under her form fitting outfits.</p>
            </div>
            <div style="clear:both;"></div>
            According to a Hollywood fashion designer, the mysterious shapewear is very similar to this new reinvented <a class="articleLink" href="#" target="_blank">Invisible Body Shaper</a>. Sales of this Invisible Shaper are trending up because of this <a class="articleLink" href="#" target="_blank">50% off promotion</a> and women have gone crazy about it.
        </div>

        <div class="articleSubheader">
            We doubted it, so we tested it out for ourselves...
        </div>
        <div class="articleText">
            When we first heard about this new "invisible" body shaper, we were a bit skeptical. So, we decided to try ourselves and see if it's really "hold you in and make you feel secure".
            <p>I normally wear a size 6 pants and a US size small in clothing. I'm 5'6" and 130 lbs give or take a few. The shapewear is pretty stretchy and slides easily up my legs and pulls up just under my breasts. There's no issues of feeling tight or couldn't breath. I'm seriously impressed.</p>
            <p>What happened next was astonishing...</p>
            <div style="text-align:center;"><iframe width="560" height="315" src="https://www.youtube.com/embed/Q27scrAfpGI" frameborder="0" allowfullscreen></iframe></div>
            <p>This is by far the best fitted waist wear that I have ever worn. It hugged my body nicely. When I sat down it didn't roll over. This helped me stand straighter and felt so confident not feeling the fat around my waist and sides. I can wear this under my clothes at work all day and feel comfortable and not getting tired. I also love the lace design it really sets it off and it doesn't show under my clothing so <strong>I don't think anyone would notice I'm wearing it</strong>, that's a huge plus.</p>

        </div>
        <div class="articleSubheader">
            Slim Your Figure in Seconds With Celeb-Loved Invisible Body Shaper</div>
        <div class="articleText">
            Lets face it ladies, after kids and life... and gravity takes an effect then nothing is in the same spot they were 10 years ago. I have a pair of jeans that fit great but my butt looks saggy in them and that is due to aging. However, this <a class="articleLink" href="#" target="_blank">Invisible Body Shaper</a> did a good job of getting my confidence back.</p>
            <p>All in all, it takes only 5-10 seconds to make you look instantly smoother. Besides, what's the point of not looking great in your favorite collections?</p>
            <p><span style="color: #d00; font-weight: bold;">*Update: <span class="current-date"></span>*</span> - Since launching earlier this year, the <a class="articleLink" href="#" target="_blank">Invisible Body Shaper</a> is so popular it has sold over 43,000 pieces. Due to its high demand and long waiting list, this <a class="articleLink" href="#" target="_blank">50% off promotion</a> might be ending anytime soon. <strong>To see if they are still available in your state, click on your state below, or the button underneath the map.</strong>
        </div>
        <div class="articleImg" id="map">

        </div>
        <a href="#">
            <div class="articleButton" style="text-shadow: 0px 0px 3px rgba(71, 71, 71, 1);">Get Your Discount & Check Availability >></div>
        </a>
        <div class="articleText">
            <div class="fb-comments" data-href="#" data-width="100%" data-numposts="10" data-order-by="time" ></div>
        </div>


    </div>

    <!--Sidebar-->
    <div id="sidebar">
        <div class="sidebarBanner">
            <a href="#" target="_blank">
                <img src="/public/images/ymail.jpg" width="100%" />
            </a>
        </div>
        <div class="sidebarBanner">
            <a href="#" target="_blank">
                <img src="/public/images/amazon.jpg" width="100%" />
            </a>
        </div>
    </div>
    <div class="clear"></div>
</div>

<!--Footer-->
<div id="footer">
    <div id="footerInner">
        THIS IS AN ADVERTISEMENT AND NOT AN ACTUAL NEWS ARTICLE, BLOG, OR CONSUMER PROTECTION UPDATE
        <br /><br />
        MARKETING DISCLOSURE: This website is a market place. As such you should know that the owner has a monetary connection to the product and services advertised on the site. The owner receives payment whenever a qualified lead is referred but that is the extent of it.
        <br /><br />
        ADVERTISING DISCLOSURE: This website and the products & services referred to on the site are advertising marketplaces. This website is an advertisement and not a news publication. Any photographs of persons used on this site are models. The owner of this site and of the products and services referred to on this site only provides a service where consumers can obtain and compare.
        <br /><br />
        © 2017 All Rights Reserved.
    </div>
</div>