<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-53NNMG');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="/public/images/favicon.ico">
    <title>Lexalytics AI</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/public/Flat-UI-master/css/flat-ui.css">
    <link rel="stylesheet" href="/public/stylesheets/Lexalytics-CSS/lexalytics_main.css">
    <script src="/public/javascripts/jquery-1.10.2.min.js"></script>
</head>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-53NNMG"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<section id="wrapper" class="standardpage">
    <div id="header">
        <h3>Fully Trained & Integrated Proof of Concept</h3>
    </div>

    <div id="wrapper-1">
        <!--<img class="img-block1" src="/public/images/sec_main_background_img.png" />-->

    </div>

    <!--<div id="wrapper-2">-->
        <!--<img src="" />-->
    <!--</div>-->

    <!--<div id="wrapper-3">-->
        <!--<img src="" />-->
    <!--</div>-->

    <!--<div id="wrapper-4">-->
        <!--<img src="" />-->
    <!--</div>-->

    <!--<div id="wrapper-5">-->
        <!--<img src="" />-->
    <!--</div>-->

    <!--<div id="wrapper-6">-->
        <!--<img src="" />-->
    <!--</div>-->

    <!--<div id="wrapper-7">-->
        <!--<img src="" />-->
        <!--<div class="btn-buy-container">-->
            <!--<a href="http://us.store.xyzprinting.com/us_en/catalog/printer/daVinciJr10pro"><img class="btn-buy" src="" /></a>-->
        <!--</div>-->
        <!--<div class="btn-spec-container">-->
            <!--<a  href="#spec" id="myBtn" ><img class="btn-spec" src="" /></a>-->
        <!--</div>-->
    <!--</div>-->

    <!-- The Modal -->
    <!--<div id="myModal" class="modal">-->

        <!--&lt;!&ndash; Modal content &ndash;&gt;-->
        <!--<div class="modal-content">-->
            <!--<span class="close">&times;</span>-->
            <!--<div class="sec7">-->
                <!--<div class="sec7_des">-->
                    <!--<h1>&{'JrPro10productSpec'}</h1>-->

                    <!--<table>-->
                        <!--<tr>-->
                            <!--<td>&{'sec8spec1'}</td>-->
                            <!--<td>&{'sec8spec1des'}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>&{'sec8spec2'}</td>-->

                            <!--<td>&{'sec8spec2des'}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>&{'sec8spec3'}</td>-->
                            <!--<td>&{'sec8spec3des'}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>&{'sec8spec4'}</td>-->
                            <!--<td>&{'sec8spec4des'}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>&{'sec8spec5'}</td>-->
                            <!--<td>&{'sec8spec5des'}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>&{'sec8spec6'}</td>-->
                            <!--<td>&{'sec8spec6des'}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>&{'sec8spec7'}</td>-->
                            <!--<td>&{'sec8spec7des'}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>&{'sec8spec8'}</td>-->
                            <!--<td>&{'sec8spec8des'}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>&{'sec8spec9'}</td>-->
                            <!--<td>&{'sec8spec9des'}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>&{'sec8spec10'}</td>-->
                            <!--<td>&{'sec8spec10des'}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>&{'sec8spec11'}</td>-->
                            <!--<td>&{'sec8spec11des'}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>&{'sec8spec12'}</td>-->
                            <!--<td>&{'sec8spec12des'}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>&{'sec8spec13'}</td>-->
                            <!--<td>&{'sec8spec13des'}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>&{'sec8spec14'}</td>-->
                            <!--<td>&{'sec8spec14des'}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>&{'sec8spec15'}</td>-->
                            <!--<td>&{'sec8spec15des'}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>&{'sec8spec16'}</td>-->
                            <!--<td>&{'sec8spec16des'}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>&{'sec8spec17'}</td>-->
                            <!--<td>&{'sec8spec17des'}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>&{'sec8spec18'}</td>-->
                            <!--<td>&{'sec8spec18des'}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>&{'sec8spec19'}</td>-->
                            <!--<td>&{'sec8spec19des'}</td>-->
                        <!--</tr>-->
                    <!--</table>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


</section>
</body>

<script>
var modal = document.getElementById('myModal');


var btn = document.getElementById("myBtn");


var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
    modal.style.display = "block";
}


span.onclick = function() {
    modal.style.display = "none";
}

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}</script>

</html>